

include ../mixins/sub-menu.pug

header.header 
    .container 
        .row.align-items-center 
            .col-3 
                .inner-logo 
                    a(href='/')
                        img(src=settingGeneral.logo, alt='logo')

            .col-5 
                form(
                    action='/search'
                    method='GET'
                )
                    div(class='form-group d-flex mb-0')
                        input(
                            type='text'
                            placeholder='Hom nay ban muon tim gi?'
                            class='form-control'
                            name='keyword'
                            value=keyword
                        )
                        button(
                            type='submit'
                            class='btn btn-primary'
                        ) Search

            .col-4 
                .inner-menu 
                    ul 
                        li
                            a(href='/') Trang chu 
                        li.sub-menu
                            - const pathProduct = `/products`
                            a(href=pathProduct) San pham 
                            if (layoutCategoryProducts)
                                +sub-menu(layoutCategoryProducts, pathProduct)
                        li 
                            a(href='/cart') Gio hang (#{miniCart ? miniCart.totalQuantity : 0})
                        if (user)
                            li
                                a(href='/users/friends')  ban be 
                            li
                                a(href='/rooms-chat')  Nhom chat
                            li
                                a(href='/user/info')
                                    img(
                                        src=user.avatar
                                        alt=user.fullname
                                    )
                            li 
                                a(href='/user/logout') Logout
                        else
                            li
                                a(href='/user/register') Dang ky
                            li 
                                a(href='/user/login') Dang nhap