.row
    .col-12      
        a(
            class='btn btn-primary m-1'
            href='/users/not-friend'
        ) Danh sach nguoi dung
        a(
            class='btn btn-primary m-1'
            href='/users/friend'
        ) Danh sach ban be
        a(
            class='btn btn-primary m-1'
            href='/users/request'
        ) Loi moi da gui
        a(
            class='btn btn-primary m-1'
            href='/users/not-friend'
        ) Loi moi ket ban