extends ../../layouts/default

include ../../mixins/alert.pug

block main 
    +alert-success(2500)
    +alert-error(3000)
    h1(class='mb-4') Nhom quyen

    .card.mb-3 
        .card-header Danh sach 
        .card-body 
            .row 
                .col-8 
                .col-4.text-right 
                    a(
                        href=`/${prefixAdmin}/roles/create`
                        class='btn btn-outline-success'
                    ) + Them moi

            table(class='table table-hover table-sm')
                thead
                    tr
                        th STT 
                        th Nhom quyen 
                        th Mo ta ngan 
                        th Hanh dong
                tbody 
                    if(roles.length > 0)
                        each role, index in roles 
                            tr 
                                td #{index + 1}
                                td #{role.title}
                                td #{role.description}
                                td 
                                    a(
                                        href=`/${prefixAdmin}/roles/detail/${role.id}`
                                        class='btn btn-sm'
                                    ) <i class="fa-regular fa-eye"></i>
                                    a(
                                        href=`/${prefixAdmin}/roles/edit/${role.id}`
                                        class='btn btn-warning btn-sm'
                                    ) <i class="fa-solid fa-pen-ruler"></i>
                                    button(
                                        class='btn btn-danger btn-sm ml-1'
                                        button-delete-trash
                                        data-id=role.id
                                    ) <i class="fa-solid fa-trash"></i>
                    else 
                        tr 
                            td(colspan='4' class='text-center') Chua co nhom quyen nao duoc tao
    form(
        id='form-delete-trash-item'
        method='POST'
        action=``
        data-path=`/${prefixAdmin}/roles/delete`
    )