extends ../../layouts/default 
include ../../mixins/alert.pug
include ../../mixins/select-tree.pug

block main 
    +alert-error(3500)
    h1(class='mb-4') Chinh sua danh muc san pham 
    
    form(
        action=`/${prefixAdmin}/product-categories/edit/${category.id}?_method=PATCH`
        method='POST'
        enctype='multipart/form-data'
    )
        div(class='form-group')
            label(for='title') Tieu de 
            input(
                type='text'
                class='form-control'
                id='title'
                name='title'
                required
                value=category.title
            )
        div(class='form-group')
            label(for='parent_id') Danh muc cha
            
            select(
                name='parent_id'
                id='parent_id'
                class='form-control'
            )
                option(value='') -- Chon danh muc cha --
                +select-tree(categories, 1, category.parent_id)

        div(clas='form-group')
            label(for='desc') Mo ta 
            textarea(
                type='text'
                class='form-control textarea-tinymce'
                id='desc'
                name='description'
                textarea-tinymce
            ) #{category.description}
        div(class='form-group mt-3' upload-image)
            label(for='thumbnail') Anh 
            input(
                type='file'
                id='thumbnail'
                name='thumbnail'
                class='form-control-file'
                accept='image/*'
                upload-image-input
            )
            img(
                src=category.thumbnail
                class='image-preview'
                upload-image-preview
            )
        
        div(class='form-group')
            label(for='position') Vi tri 
            input(
                type='number'
                class='form-control'
                id='position'
                name='position'
                placeholder='Tu dong tang'
                min='1'
                value=category.position
            )
        div(class='form-group form-check form-check-inline')
            input(
                type='radio'
                class='form-check-input'
                id='statusActive'
                name='status'
                value='active'
                checked=(category.status == 'active' ? true:false)
            )
            label(for='statusActive' class='form-check-label') Hoat dong 
        div(class='form-group form-check form-check-inline')
            input(
                type='radio'
                class='form-check-input'
                id='statusInActive'
                name='status'
                value='inactive'
                checked=(category.status == 'inactive' ? true:false)
            )
            label(for='statusInActive' class='form-check-label') Dung hoat hong 

        div(class='form-group')
            button(
                type='submit'
                class='btn btn-primary'
            ) Update

            a(
                href=`/${prefixAdmin}/product-categories`
                class='btn btn-outline'
             ) Cancel